
#home #txtsize{
    font-size: 4rem;
    font-weight: 400;
}
#about .i-phone {
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

#about .i-phone  h4 {
font-size: 1.2rem;
padding-top: 15px;
padding-left: 20px;
}